.font-m{
    font-size: 1.3rem;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
  }
.dropdown-menu {
    font-size: 1.3rem;
}
.head-list{
    margin-top: .5rem;
    margin-bottom: -.5rem;
}
#email{
    border-bottom: 1px solid #000 ;
    width: 30rem;
}