.font-m{
    font-size: 1.3rem;
}
.font-b{
    font-size: 1.8rem !important;
}
.font-s{
    font-size: 1rem !important;
}
.w-30{
    width: 30%;
}
.w-65{
    width: 65%;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
  }
.dropdown-menu {
    font-size: 1.3rem;
}
#email{
    border-bottom: 1px solid #000 ;
    width: 30rem;
    &:hover{
        border-bottom: 2px solid #000 ;
    }
}

.blog-box{
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    position: relative;
}
.btn-comment{
    transition: all .4s;
    &:hover{
        color: rgb(118, 226, 90);
        font-style: italic;
    }
}
.blog-img{
    height: 30rem;
}
.text-grey{
    color: rgb(167, 167, 167);
}
.drop-blog{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.drop-blog-1{
    position: absolute;
    right: 0rem;
    top: 0;
}
.share-blog{
    background-color: white;
}