.font-m{
    font-size: 1.3rem;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
  }
.dropdown-menu {
    font-size: 1.3rem;
}
#email{
    border-bottom: 1px solid #000 ;
    width: 30rem;
    &:hover{
        border-bottom: 2px solid #000 ;
    }
}