header{
	grid-row: 1 / 2;
	grid-column: 1 / -1;

	position: fixed;
	z-index: 100;
}
.section-main{
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	position: relative;

}
.footer{
	grid-row: 4 / 5;
	grid-column: 1 / -1;

}
.section-fixed{
	position: fixed;
    background-color: green;
	top: 50%;
	right: 0%;
	transform: translate(0,-50%);
	display: grid;
	z-index: 1000;
}
.section-about{
	grid-row: 3 / 4;
	grid-column: 1 / -1;
}