<footer class="bg-dark footer"> 
    <blockquote-footer class="blockquote-footer text-center font-m">
        © 2023 by Women PWR. Proudly created by 
        <a href=""> Privacy Policy</a>
    </blockquote-footer>
</footer>
</body>
</html>