<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	   <link rel="stylesheet" type="text/css" href="../css/style.css">
	   <script type="text/javascript" src="file:///F:/cs/html/bookstrap/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
	   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

	   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<title>Introduction</title>
	</head> 
	<body class="contain" >
		<a href="#section-main" class="iconto-top">
			<svg class="icon-arrow_upward" >
                <use xlink:href="../css/img,svg/icons-1.svg#icon-arrow_upward" ></use>
            </svg>
		</a>
		<section class="section-fixed">
			<a href="https://m.facebook.com/Mrityunjaya-Group-658002924811349/?ref=bookmarks" class="facebook p-3">
				<svg class="icon-facebook" >
					<use xlink:href="../css/img,svg/icons-1.svg#icon-facebook" ></use>
				</svg>
			</a>
			<a href="https://www.youtube.com/channel/UCln9bf2m_KITp7eL6jAu_5w" class="youtube p-3">
				<svg class="icon-youtube" >
					<use xlink:href="../css/img,svg/icons-1.svg#icon-youtube" ></use>
				</svg>
			</a>
			<a href="https://twitter.com/MrityunjayaGro1?s=08" class="twitter p-3">
				<svg class="icon-twitter" >
					<use xlink:href="../css/img,svg/icons-1.svg#icon-twitter" ></use>
				</svg>
			</a>
			<a href="https://instagram.com/mrityunjayagroup?igshid=1u5ygj4fr5na4" class="instagram p-3">
				<svg class="icon-instagram" >
					<use xlink:href="../css/img,svg/icons-1.svg#icon-instagram" ></use>
				</svg>
			</a>
		</section>
        <header class="w-100 d-inline">
			<div class="logo float-left">
				<a href="/">
					<img src="../css/img,svg/logo-main.png" alt="logo" id="logo">
				</a>
			</div>
			<ul class="list-unstyled head-list list-group-horizontal text-center d-flex w-50 float-left">
				<li class="dropdown px-1 py-2 "> 
					<button type="button " class="btn btn-block  py-3" data-toggle="dropdown">Home  </button>    
				</li>
				<li class=" px-1 py-2"> 
					<a href="/Intro" class="btn btn-block about-btn py-3">About Us </a>    
				</li>
				<li class="dropdown px-1 py-2"> 
					<button type="button " class="btn btn-block  py-3" data-toggle="dropdown">Blogs</button>    
					<div class="dropdown-menu  ">
					  <a  href="/new" class="dropdown-item w-75 my-1 ">Add new blog </a>
					  <a  href="/campground" class="dropdown-item w-75 my-1 ">Blog Posts</a>

				  	</div>
			    </li>
			    <li class="dropdown px-1 py-2"> 
					<button type="button " class="btn btn-block  py-3" data-toggle="dropdown">Join Us</button>    
					<div class="dropdown-menu  ">
						<a  href="#" class="dropdown-item w-75 my-1 "> As a Volunteer</a>
						<a  href="#" class="dropdown-item w-75 my-1 ">As a Member </a>
						<a  href="#" class="dropdown-item w-75 my-1 "> As a Professional</a>					
					</div>
		  		</li>
		  		<li class="dropdown px-1 py-2"> 
					<button type="button " class="btn btn-block py-3" data-toggle="dropdown">Newsletter</button>
				</li>
				<li class="dropdown px-1 py-2"> 
					<button type="button " class="btn btn-block py-3" data-toggle="dropdown">Contact Us</button>
				</li>
			</ul>
		<ul class="list-unstyled float-right list-group-horizontal text-center d-flex">
        <% if (user) { %>
          <li class="dropdown px-4 pt-4  font-m">Welcome, <%= user.email %></li>
          <li class="dropdown px-1 py-2">
            <a class="btn about-btn px-2 py-3" href="/logout">Log out</a>
          </li>
        <% } else { %>
          <li class="dropdown px-1 py-2">
            <a class="btn about-btn py-3" href="/login">Log in</a>
          </li>
          <li class="dropdown px-1 py-2">
            <a class="btn about-btn py-3" href="/signup" class="btn">Sign up</a>
          </li>
        <% } %>
      </ul>
		</header>