<%- include('partials/header') %>

		<section class="section-main" id="section-main">
			<div class="heading-main">
				<h1> Mrityunjaya</h1>
			</div>
		</section>
		<section class="section-about">
			<h1 class="heading-primary">About Us</h1>
			<p class="paragraph py-5">
				 
				We, at Mrityunjaya aim to create a space for discussions on Healthcare, 
				Environment and Law and the inter- relationship between them. A platform 
				for discussion of various concerns related to health and environment; 
				which we believe to be the areas that could be perfected only through 
				creation of a knowledge pool with contributions from people from all over 
				the world.
			</p>
			<a href="./html/Intro.html" class="btn-read text-center btn">Read More </a>
		</section>
		<section class="section-joinUs">

		</section>
		<section class="section-update mb-5">
			<div class="float-left font-m">
				<h2 class="heading-Secoundry">Mrityunjaya</h2>
				<p>
					I'm a paragraph. <br>Click here to add your own text and edit me.<br> Let your users get to know you.
				</p>
				<div class="">
					<span  class="font-weight-bold ">Email:</span>
					<a href="mailto:mrityunjayagroup@gmail.com">mrityunjayagroup@gmail.com</a>
				</div>
			</div>
			<div class="float-right font-m">
				<h2 class="heading-Secoundry">Get Monthly Updates</h2>
				<p>Enter your email here</p>
				<input type="email" name="EmailId" id="email" placeholder="Email Id">
				<a href="#" class="btn-block btn my-3 btn-outline-dark">Sign Up</a>
			</div>
		</section>
		
<%- include('partials/footer') %>
