<%- include('partials/header') %>

		<section class="section-intro">
			<h1 class="heading-primary ">Introduction</h1>
			<p  class="paragraph text-left"> 
				The word “Mrityunjaya” literally means the conquerer of death or one who 
				has conquered death. It is also one of the many names of Lord Shiva (Hindu
				mythology)<br>.“Mrityunjaya” is a word used in the title of a mantra (a chant) 
				called the “Maha Mrityunjaya Mantra.” It is a part of the Hindu faith and 
				culture. The mantra is said to create a protective energy field around the 
				one’s chanting it, or the one(s) in favour of whom/ for whom it is being 
				chanted. Therefore, it is used for creating positive and strong energy 
				fields and fields of protective energy around people who are facing health 
				problems or have met with an accident or are in a very serious condition 
				relating to health and life. It is also chanted, generally, to enhance 
				health and safety of any person. For example, it is said to be a protective 
				charm which, if chanted everyday or before leaving one’s house, and in other
				similar conditions, is said to protect the person against any accidents,
				etc. Thereby, protecting a person against any danger to their health 
				and safety.<br><br>
				We at Mrityunjaya Group hope that our efforts here, help people deal (
				efficiently) with and eventually, ward off / eradicate completely, all the
				evils that threaten their [anyone’s (person/ animal)] health and safety. 
				Thereby, helping people conquer all health threats, minor and major, that
				come their way. Our environment and our interaction with it, plays a 
				major role in our lives and in determining our health (condition(s)/ 
				situation). The effect(s) of environmental condition and changes in it 
				on our health are huge and even, extreme. Therefore, it is also within 
				our scope and duty to make sure that it is not harmed, and only bettered
				henceforward, from the bitter situation it is in at present, in order 
				to further the betterment of our living and health conditions. In order
				to achieve such better and healthy environment, it is necessary that we
				educate ourselves and others and not simply make people aware of the issues 
				surrounding it but also, help them understand them fully, the role of 
				environment and the effects of changes in it on their health, sensitising 
				them towards environmental issues.<br><br>
				We also dwell into the legal and policy aspects of the concerned healthcare
				and environmental issues, and seek to work on the interface(s) between the 
				three. We hope to achieve the above by spreading social, legal awareness,
				 educating people about the legal aspects of healthcare (legal literacy and 
				 legal empowerment), environment and other related issues, making efforts to 
				 resolve queries on the concerned subjects, identifying undiscovered 
				 problems,lacunae in these areas and working on solving these problems, 
				 filling the gaps in the discovered ones and most importantly, by 
				 initiating discussions on these focus areas and providing a platform for such discussions. 
			</p>
		</section>
		<section class="section-vision">
			<h1 class="heading-primary ">Vision</h1>
			<p  class="paragraph text-left">
				Mrityunjaya is one of a kind organisation. It aims to create a space for discussions on Healthcare, Environment and Law (Intellectual Property Rights, etc.) - general concerns, law and the relationship/ interface between them. It is a non-governmental organisation (not registered yet). <br><br>
				Mrityunjaya aims to create a platform for discussion of various concerns related to health, environment and law; which we believe to be areas where we can reach anywhere near perfection only through creation of a knowledge pool with contributions from people from all over the world, from different backgrounds, geographical, academic, religious and more,(;) with different interests, experiences and expertise, from different age groups and professions, etc. Mrityunjaya, therefore, does not limit its scope to a particular group in the society (society = the whole world as one society) such as one involving only students, youth members, professionals, etc. It rather appreciates, welcomes and seeks to learn from diversity amongst humans as the aim of creating better healthcare, environmental and (related) legal systems and practices itself, is not limited to any particular group(s) in the society.<br><br> 
				We believe that every culture, and person (/animal habits) has something to offer, [be it even (only) one kind of behaviour/ practice/ etc.] that if incorporated into our daily lives/ routines or in our systems, would help better the health and environmental conditions of our society. Therefore, we aim to work for the betterment of our society by highlighting, adopting, spreading awareness about the practices which would help us achieve the desired result. (Our desired result = a society with better healthcare and environmental conditions). 
			</p>
		</section>
		<section class="section-mission">
			<h1 class="heading-primary">Mission</h1>
			<p  class="paragraph-1 text-left font-m">
				Our mission is to achieve a stage in our society where no one will face 
				discrimination because of a health problem they’re facing and the health 
				problems themselves will be dealt with, efficiently and without discrimination 
				or disparities occurring due to lack of awareness and/or lack of monetary resources.
		<br><br><span class="font-weight-bold d-block"> Lack of awareness can be of any kind:</span><br>
				<span class="pl-4 font-m d-block"> &#8226; Unawareness of a condition being a disease. (and not some form of religious
				/ moral punishment, not something for which a person should be ridiculed, 
				not a mistake/ bad deed by the person who faces it, not a sign of a person
				 being evil and other similar instances.)</span>
				<span class="pl-4 font-m d-block"> &#8226; Unawareness of a condition being a normal/ frequent/ mere genetic situation that can/ cannot be treated. </span>
				<span class="pl-4 font-m d-block"> &#8226; Unawareness regarding the nature of the disease itself : one that does/ does not spread, how it spreads, how to treat it/ deal with it, etc.  Unawareness about how to protect themselves from such diseases/illness etc./ how to prevent/avoid them/treat them/ prevent them from spreading/ etc, whether it is even a disease or not. </span>
				<span class="pl-4 font-m d-block"> &#8226; Unawareness regarding whom to approach, where to go for the treatment.</span>
				<span class="pl-4 font-m d-block"> &#8226; Unawareness regarding policies, organizations, treatment facilities, schemes, funds, donations, and various other ways and authorities that can help with the treatment - in ways of: availability of infrastructure, affording the treatment, etc. </span>
				<span class="pl-4 font-m d-block"> &#8226; unawareness regarding living conditions such as hygiene, sanitation, waste disposal, etc. and effects of climate change that affect greatly our environment and our health more directly and greatly than one imagines. </span><br>
				<span class="font-weight-bold d-block">Thus, Our aim is:- </span><br>
				To spread awareness about health, environment and related concepts [such 
				as healthcare and legal system, health problems, how to prevent/avoid/treat
				them, policies, discrimination and disparities in availability of treatment
				resources, rights of persons facing health problems or person wronged 
				during their treatment (eg.- right against negligence, right to receive 
				treatment, etc), rights of professionals treating/ advising people facing 
				health problems, laws, rules, practices to be followed during treatment by all parties, etc], and - to create 
				policy framework(s), make law and policy recommendations/ suggestions to
				   uplift the healthcare system in our society (India and Global) and to 
				   make it better and affordable to all, eventually aiming for a free 
				   healthcare system (specially for those who cannot afford treatment).
				<br><br>
				We aim to do this through initiating discussions on healthcare system, law
				 and policies relating to it, relationship between health and law, need 
				 for healthcare systems in legal system, relationship between health and 
				 environment and between healthcare law and intellectual property rights,
				through- blogs, research, recent legal and medical updates, etc. on healthcare and environmental law and policy and through various educational and awareness activities, events and workshops. 
				<br><br>
				We further aim to make people environment-conscious by educating them on 
				the relationship between environment and health. Thereby, leading them to 
				take good care of the environment, hygiene, proper sanitation, waste 
				disposal and other areas of concern, eventually, decreasing their exposure
				to health threats such as infections, vector-borne diseases, etc. This
				will also include educating people about certain practices that would 
				ensure easy and efficient prevention of such health threats (diseases, 
				infections, etc.). 

			</p>
		</section>
<%- include('partials/footer') %>
