header{
    background-color: rgba(46, 46, 46, 0.623);
    color: white;  
}
.head-list{
    margin-left: 5rem;
    position: relative;
    margin-top: .5rem;
    margin-bottom: -.5rem;
    button{
        color: white;
        font-size: 1.3rem;
        &:hover{
            border: 2px solid #fff;
        }
    }
    li{
        margin: 0 1rem; 
    }
}
.about-btn{
    color: white;
    font-size: 1.3rem;
    &:hover{
        border: 2px solid #fff;
    }
}
.heading-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h1{
        font-size: 6rem;
        font-style: italic;
        padding: 1rem 0;
        &::after{
            content: "";
            position: absolute;
            left: 22%;
            bottom: 0;
            width: 20rem;
            height: 2px;
            background-color: #777;
            display: inline-block;
            transition: all .3s;

        }
        &:hover{
            &::after{
                width: 25rem;
                left: 12%;
            }
        }
    }
}