.iconto-top{
    position: fixed;
    height: 4rem;
    width: 4rem;
    bottom: 5%;
    z-index: 1000;
    border-radius: 50%;
    left: 10%;
    cursor: pointer;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    // background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    &:hover{
        border: 2px solid rgb(52, 42, 189);
    }
}
.icon-arrow_upward{
    height: 2rem;
    width: 2rem;
    margin: 1rem;

    fill: white;
}
.icon-facebook,
.icon-twitter,
.icon-youtube,
.icon-instagram{
    height: 2rem;
    width: 3rem;

}
.facebook,
.twitter,
.youtube,
.instagram{
    fill: white;
    transition: all .2s;
}
.facebook:hover{
    background-image: linear-gradient(120deg,#3B5998,#fff);
}
.instagram:hover{
    background-image: linear-gradient(45deg,#405DE6,#5851DB,#833AB4,#c13584,#E1306C,#FD1D1D);
}
.twitter:hover{
    background-image: linear-gradient(45deg, #66757f,#00ACEE, #36D8FF, #f5f8fa, #ffffff);
}
.youtube:hover{
    background-image: linear-gradient(120deg, #ff0000, #282828);
    .icon-youtube{
        fill: #000;
    }
}

.icon-facebook-1,
.icon-twitter-1,
.icon-youtube-1,
.icon-instagram-1,
.icon-dehaze{
    height: 2rem;
    width: 3rem;
    fill: #000;
}
.heart{
    background-color: #fff;
    position: relative;
    outline: #fff;
}

.icon-heart-filled{
    fill: transparent;
    height: 2rem;
    width: 3rem;
    stroke: #e84a43;
    stroke-width: 1.5px;
    transition: fill .25s;
}
.facebook:hover .icon-facebook{
    fill: #4464a3;
}
.twitter:hover .icon-twitter{
    fill: #55acee;
}
.instagram:hover .icon-instagram{
    fill: #833AB4;
}
#check-heart{
    display: none;
    &:checked + .heart .icon-heart-filled{
        fill: #e84a43;
    }
}