.heading-primary{
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    backface-visibility: hidden;
    text-decoration: bold;
	margin-bottom: 1.5rem;
}
.heading-Secoundry{
    font-size: 2rem;
	font-weight: 500;
	display: inline-block;
	transition: all .2s;
}
.paragraph{
    text-align: center;
    font-size: 1.5rem;
}
.paragraph-1{
    text-align: center;
    font-size: 1.5rem;
    &:span{
        padding: 7px 0;
    }
}

.heading-Secoundry-2{
    font-size: 2.2rem;
	font-weight: 500;
	display: inline-block;
    transition: all .4s;
    text-transform: capitalize;
    background-image: linear-gradient(to right,#7ed56f, #28b384);
    -webkit-background-clip: text;
    color: transparent;
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}
.para-small{
    height: 6.5rem;
    overflow: hidden;
}