.heading-primary{
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    backface-visibility: hidden;
    text-decoration: bold;
	margin-bottom: 1.5rem;
}
.heading-Secoundry{
    font-size: 2rem;
	font-weight: 500;
	display: inline-block;
	transition: all .2s;
}
.paragraph{
    text-align: center;
    font-size: 2rem;
}